  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fff0;
  }

  .desc {
    color: #fff;
  }

  header {
    background-color: #66aa66;
    color: #fff;
    padding-top: 1.32%;
    padding-bottom: 1.32%;
    text-align: center;
  }

  nav ul {
    padding-inline-start: 0px;
  }
  
  nav ul li {
    display: inline-block;
    padding: 0.99% 1.98% 0.99% 1.98%;
    border-radius: 15px;
    background-color: #448844;
    margin-bottom: 0.3%;
    transition: background-color 0.15s;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav ul li:hover {
    background-color: #226622;
  }

  h2 {
    color: #448844;
    padding-left: 1.32%;
    padding-right: 1.32%;
  }
  
  p {
    color: #559955;
    padding-left: 2.64%;
    padding-right: 1.32%;
  }

  .goalList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 0.99%;
    row-gap: 2.97%;
    padding-left: 1.32%;
    padding-right: 1.32%;
    padding-bottom: 1.32%;
  }

  .goal {
    display: block;
    background-color: #eeeeee;
    border-radius: 15px;
    border-color: #448844;
    border-style: solid;
    border-width: 2px;
    transition: border-width 0.2s;
  }

  .goal:hover {
    border-width: 5px;
  }

  .addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.44% 19.96% 4.44% 19.96%;
    border-radius: 15px;
    transition: border-width 0.2s;
  }

  img {
    max-width: 90%;
    height: auto;
  }
  
  button {
    border-width: 0px;
    border-radius: 15px;
  }

  .buttonLine {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38%;
    padding-left: 3.33%;
    padding-right: 3.33%;
    padding-bottom: 3.33%;
  }

  .gButton {
    display: block;
    border-radius: 15px;
    border-color: #448844;
    border-style: solid;
    border-width: 1px;
    transition: border-width 0.2s;
  }

  .gButton:hover {
    border-width: 2.5px;
  }

  .goal p {
    color: #559955;
    padding-left: 4.44%;
    padding-right: 4.44%;
  }
  
  h3 {
    padding-left: 2.64%;
    color: #337733;
  }

  .achievements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 9.9%;
    column-gap: 2.475%;
    padding: 0% 1.32% 2.64% 1.32%;
  }
  
  .achievement {
    display: grid;
    background-color: #eeeeee;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 15px;
    border-color: #448844;
    border-style: solid;
    border-width: 2px;
    transition: border-width 0.2s;
  }

  h4 {
    padding-left: 2.64%;
    padding-right: 1.32%;
    font-size: 24px;
    color: #337733;
    transition: font-size 0.5s
  }

  .ico {
    margin: 1% 1% 1% 1%;
    display: flex;
    max-width: 50%;
    height: auto;
    padding-left: 20%;
  }

  .achievement:hover {
    border-width: 5px;
  }

  h4:hover {
    font-size: 30px;
  }

  .statistics p {
    padding-left: 3.96%;
    padding-right: 1.32%;
  }
  
  .ctextList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    gap: 15px;
    padding-left: 1.32%;
    padding-right: 1.32%;
  }
  
  .ctext {
    display: block;
    background-color: #eeeeee;
    border-radius: 15px;
    border-color: #448844;
    border-style: solid;
    border-width: 2px;
    transition: border-width 0.2s;
  }
  
  .ctext p {
    margin: 1.5% 0% 1.5% 0%;
    transition: font-size 0.2s;
  }
  
  .ctext:hover {
    border-width: 5px;
  }
  
  .ctext p:hover {
    font-size: 20px;
  }

  .ctextInput {
    margin: 0.99% 0 0.99% 1.32%;
    padding: 1% 0px 1% 2.64%;
    background-color: #eeeeee;
    border-radius: 15px;
    border-color: #448844;
    border-style: solid;
    border-width: 2px;
    width: 75%;
    font-size: 16px;
    color: #448844;
    transition: border-width 0.2s;
  }

  .ctextInput:focus {
    border-width: 5px;
  }

  .ctBTN {
    width: 16%;
    padding: 1% 1.32% 1% 1.32%;
    margin: 0px 1.32% 0px 1.32%;
    background-color: #66aa66;
    color: #fff;
    border-radius: 15px;
    border-color: #66aa66;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
    transition: border-color, background-color 0.2ms;
  }

  .ctBTN:hover {
    border-color: #448844;
    background-color: #448844;
  }

  .form1 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .form-content {
    background-color: #f0fff0;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0.66%;
    right: 0.99%;
    font-size: 20px;
    cursor: pointer;
  }

  .sumbit {
    padding: 0.99%;
    background-color: #66cc66;
    color: #ffffff
  }

  .sumbit:hover {
    background-color: #448844;
  }

  footer {
    text-align: center;
    padding: 0.66%;
    background-color: #66aa66;
    color: #fff;
  }
  
  footer p {
    color: #fff;
  }

  @media (max-width: 1400px) {
    .ctBTN {
      font-size: 14px;
    }
  }

  @media (max-width: 1240px) {
    .ctBTN {
      font-size: 12px;
    }

    h4 {
      font-size: 20px;
    }

    h4:hover {
      font-size: 24px;
    }

    .achievement p {
      font-size: 12px;
    }
  }

  @media (max-width: 1060px) {
    .ctBTN {
      font-size: 10px;
    }
  }

  @media (max-width: 925px) {
    .goalList {
      grid-template-columns: repeat(3, 1fr);
    }

    .addButton {
      padding: 4.44% 18% 4.44% 18%;;
    }
  }

  @media (max-width: 885px) {
    p {
      font-size: 14px;
    }

    .ctextInput {
      font-size: 14px;
      width: 65%;
    }


    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 18px;
    }

    .ctBTN {
      width: 26%;
    }
  }

  @media (max-width: 750px) {
    nav ul li {
      border-radius: 10px;
    }

    .goal {
      border-radius: 10px;
    }

    .addButton {
      border-radius: 10px;
    }

    button {
      border-radius: 10px;
    }

    .gButton {
      border-radius: 10px;
    }

    .achievements {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 1.25%;
    }

    .achievement {
      border-radius: 10px;
    }

    .ctext {
      border-radius: 10px;
    }

    .ctextInput {
      border-radius: 10px;
    }

    .ctBTN {
      border-radius: 10px;
    }
  }

  @media (max-width: 670px) {
    .goalList {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1%;
    }
  }

  @media (max-width: 520px) {
    .ctextInput {
      width: 94%;
    }

    .ctBTN {
      width: 97%;
    }
  }

  @media (max-width: 350px) {
    .goalList {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 0.25%;
    }

    .addButton {
      padding: 4.44% 18% 4.44% 18%;;
    }

    .ign {
      width: 90%;
    }
  }